<ion-view view-title="健康资讯">
	<ion-content>
		<div class="tabs-striped tabs-top">
		    <div class="tabs">
			    <a class="tab-item" ng-class="{true:'active'}[oturn[$index]]" ng-repeat="item in healthList" ng-click="getData($index)">{{item.name}}</a>
		    </div>
		</div>
		<ion-list class="top">
			<ion-item class="item-thumbnail-left" ng-repeat="item in dataList">
				<img ng-src="{{item.pic}}">
		      	<a class="content" href="#/detail">{{ item.message }}</a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>