<ion-tabs class="tabs-icon-top tabs-color-positive">
	<ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tab.home" >
		<ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="健康分析" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ui-sref="tab.health">
		<ion-nav-view name="health-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="发现" icon-on="ion-ios-navigate" icon-off="ion-ios-navigate-outline" ui-sref="tab.find">
		<ion-nav-view name="find-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="个人中心" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="tab.personal">
		<ion-nav-view name="personal-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs>
